<h1>Anmälan till uppdrag: <%= @task.title %></h1>

<p>Hej,</p>

<p><%= @user.email %> har anmält sig till uppdraget:</p>

<h2><%= @task.title %></h2>
<p>Företag: <%= @task.company %></p>
<p>Stad: <%= @task.city %></p>