<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div style="color: red">
      <% if task.errors.any? %>
        <div style="color: red">

          <ul>
            <% task.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= form.label :title, t("tasks.form.title"), style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :company, t("tasks.form.company"), style: "display: block" %>
    <%= form.text_field :company %>
  </div>

  <div>
    <%= form.label :city, t("tasks.form.city"), style: "display: block" %>
    <%= form.text_field :city %>
  </div>

  <div>
    <%= form.label :description, t("tasks.form.description"), style: "display: block" %>
    <%= form.textarea :description %>
  </div>

  <div class="field">
    <%= form.label :categories %>
    
    <br>
    
    <% Category.all.each do |category| %>
      <div>
        <%= check_box_tag "task[category_ids][]", category.id, @task.categories.include?(category), id: dom_id(category) %>
        <%= label_tag dom_id(category), category.name %>
      </div>
    <% end %>
  </div>

  <p>eller</p>

  <div class="field">
    <%= form.label :new_category_name, "Ny kategori (frivilligt)" %>
    <%= form.text_field :new_category_name %>
  </div>

  <div>
    <%= form.submit class: "primary-cta" %>
  </div>
<% end %>
