<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div style="color: red">
      <% if task.errors.any? %>
        <div style="color: red">

          <ul>
            <% task.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= form.label :title, t("tasks.form.title"), style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :company, t("tasks.form.company"), style: "display: block" %>
    <%= form.text_field :company %>
  </div>

  <div>
    <%= form.label :city, t("tasks.form.city"), style: "display: block" %>
    <%= form.text_field :city %>
  </div>

  <div>
    <%= form.label :description, t("tasks.form.description"), style: "display: block" %>
    <%= form.textarea :description %>
  </div>

  <div>
    <%= form.submit class: "primary-cta" %>
  </div>
<% end %>
