<div id="<%= dom_id task %>" class="container task-wrapper">
  <div>
    <span class="show-task-label"><%= t("tasks.task.title") %>:</span>
    <span><%= task.title %></span>
  </div>

  <div>
    <span class="show-task-label"><%= t("tasks.task.company") %>:</span>
    <%= task.company %>
  </div>

  <div>
    <span class="show-task-label"><%= t("tasks.task.city") %>:</span>
    <%= task.city %>
  </div>

  <div>
    <span class="show-task-label"><%= t("tasks.task.description") %>:</span>
    <%= task.description %>
  </div>

  <div>
    <span class="show-task-label"><%= t("tasks.task.created_by") %>:</span>
    <%= task.user.email %>
  </div>

  <% if task.categories.present? %>
    <div class="task-categories-wrapper"> 
      <% task.categories.each do |category| %>
        <span class="task-category-wrapper"><%= category.name %></span>
      <% end %>
    </div>
  <% end %>

  <%= form_with url: register_task_path(@task), method: :post do %>
    <%= button_tag "Anmäl mig", class: "primary-cta" %>
  <% end %>
</div>
