<div id="<%= dom_id task %>" class="container task-wrapper">
  <p>
    <strong><%= t("tasks.task.title") %>:</strong>
    <%= task.title %>
  </p>

  <p>
    <strong><%= t("tasks.task.company") %>:</strong>
    <%= task.company %>
  </p>

  <p>
    <strong><%= t("tasks.task.city") %>:</strong>
    <%= task.city %>
  </p>

  <p>
    <strong><%= t("tasks.task.description") %>:</strong>
    <%= task.description %>
  </p>

  <p>
    <strong><%= t("tasks.task.created_by") %>:</strong>
    <%= task.user.email %>
  </p>

  <%= form_with url: register_task_path(@task), method: :post do %>
    <%= button_tag "Anmäl mig", class: "primary-cta" %>
  <% end %>
</div>
