<div id="<%= dom_id task %>" class="primary-background container">
  <p>
    <strong><%= t("tasks.task.title") %>:</strong>
    <%= task.title %>
  </p>

  <p>
    <strong><%= t("tasks.task.company") %>:</strong>
    <%= task.company %>
  </p>

  <p>
    <strong><%= t("tasks.task.city") %>:</strong>
    <%= task.city %>
  </p>

  <p>
    <strong><%= t("tasks.task.description") %>:</strong>
    <%= task.description %>
  </p>

  <p>
    <strong><%= t("tasks.task.created_by") %>:</strong>
    <%= task.user_id %>
  </p>
</div>
