<p style="color: green"><%= notice %></p>

<% content_for :title, "#{ApplicationHelper::BRAND_NAME} | #{t('tasks.index.title')}" %>

<h1><%= t("tasks.index.heading") %></h1>

<div id="tasks">
<% @tasks.each do |task| %>
  <%= render task %>
  <p>
  <p>Skapad av: <%= task.user.email %></p>
  <%= link_to t("tasks.index.show_link"), task %>
    </p>
  <% end %>
</div>

<%= link_to t("tasks.index.new_task"), new_task_path %>

