<div class="primary-background container">
  <h1 class="secondary-heading"><%= notice %></h1>

  <%= render @task %>

  <%# TODO: move this section %>
  <p>
    <strong>Kategorier:</strong>
    <% @task.categories.each do |category| %>
      <%= category.name %>
    <% end %>
  </p>

  <div class="cta-vertical-wrapper">
    <div class="cta-horizontal-wrapper">
      <%= link_to t("tasks.show.edit_link"), edit_task_path(@task), class: "primary-cta" %>
      <%= button_to t("tasks.show.destroy_link"), @task, method: :delete, class: "primary-cta" %>
      </div>
      
      <%= link_to t("tasks.show.back_link"), tasks_path, class: "primary-cta" %>
  </div>
</div>