<p style="color: green"><%= notice %></p>

<%= render @task %>

<div>
  
  <%= link_to t("tasks.show.edit_link"), edit_task_path(@task) %> |
  <%= link_to t("tasks.show.back_link"), tasks_path %>

  <%= button_to t("tasks.show.destroy_link"), @task, method: :delete %>
</div>
